<style>
  #share-buttons {display: inline-block; vertical-align: middle; }
  #share-buttons:after {content: ""; display: block; clear: both;}
  #share-buttons > div {position: relative; text-align: left; height: 36px; width: 32px; float: left; text-align: center;}
  #share-buttons > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
  #share-buttons > div:hover {cursor: pointer;}

  #share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
  #share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
  #share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
  #share-buttons > div.copy:hover > svg {fill: #4CAF50;}

  #share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
  #share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
  #share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}
  #share-buttons > div.copy > svg {height: 16px; margin-top: 10px;}

  .copy-feedback {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
  }

  .copy-feedback.show {
    opacity: 1;
  }
</style>

{% assign safeurl = site.url | append: page.url | url_encode %}
{% assign safetitle = page.title | url_encode %}
{% assign safetitlepre = "[Blog] " | append: page.author | append: " - " | url_encode %}

<span style="color: silver;">Share on: </span>

<div id="share-buttons">

  <div class="twitter"
       title="Share this on Twitter"
       onclick="window.open('https://twitter.com/intent/tweet?url={{ safeurl }}&text={{ safetitle }}&via={{ site.twitter_username }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M1684 408q-67 98-162 167 1 14 1 42 0 130-38 259.5t-115.5 248.5-184.5 210.5-258 146-323 54.5q-271 0-496-145 35 4 78 4 225 0 401-138-105-2-188-64.5t-114-159.5q33 5 61 5 43 0 85-11-112-23-[...]
    </svg>
  </div>

  <div class="linkedin"
       title="Share this on Linkedin"
       onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M477 625v991h-330v-991h330zm21-306q1 73-50.5 122t-135.5 49h-2q-82 0-132-49t-50-122q0-74 51.5-122.5t134.5-48.5 133 48.5 51 122.5zm1166 729v568h-329v-530q0-105-40.5-164.5t-126.5-59.5q-63 [...]
    </svg>
  </div>

  <div class="mail"
       title="Share this through Email"
       onclick="window.open('mailto:?&body={{ safeurl }}&subject={{ safetitlepre }}{{ safetitle }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 1[...]
    </svg>
  </div>

  <div class="copy"
       title="Copy link to clipboard"
       onclick="copyToClipboard('{{ site.url }}{{ page.url }}', this); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
      <path d="M1344 1472q0-26-19-45t-45-19h-1088q-26 0-45 19t-19 45v-1088q0-26 19-45t45-19h22v-67q0-80 56-136t136-56h464q80 0 136 56t56 136v67h22q26 0 45 19t19 45v1088zm-644-634h-176v224h176v-224zm-452 0h-176v224h176v-224zm452-506h-464q-26 0-45 19t-19 45v67h512v-67q0-26-19-45t-45-19zm452 694v-1088q0-26-19-45t-45-19h-1088q-26 0-45 19t-19 45v1088q0 26 19 45t45 19h1088q26 0 45-19t19-45z"/>
    </svg>
    <span class="copy-feedback">Copied!</span>
  </div>

</div>

<script>
function copyToClipboard(text, element) {
  navigator.clipboard.writeText(text).then(function() {
    const feedback = element.querySelector('.copy-feedback');
    feedback.classList.add('show');
    setTimeout(function() {
      feedback.classList.remove('show');
    }, 2000);
  }).catch(function(err) {
    const textarea = document.createElement('textarea');
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand('copy');
    document.body.removeChild(textarea);
    const feedback = element.querySelector('.copy-feedback');
    feedback.classList.add('show');
    setTimeout(function() {
      feedback.classList.remove('show');
    }, 2000);
  });
}
</script>
